<div class="row">
  <div class="span7">
    <%= simple_form_for [@project, @design], html: { class: 'form-horizontal' } do |f| %>
      <%= f.error_notification %>

      <%= f.input :simulator_specification_id, as: :hidden, input_html: { value: @project.simulator_specification.id } %>
      <%= f.input :size %>
      <%= f.input :sampling_method, include_blank: false, collection: [["Latin hypercube", "lhs"]] %>
      
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
</div>