<%= javascript_include_tag "sensitivity_projects" %>

<div class="row">
  <div class="span7">
    <%= simple_form_for @project, :html => { :class => "form-horizontal" } do |f| %>
      <%= render partial: "shared/form_toggle", locals: { field: :perform_with, parent: f.object_name.to_sym, value: "simulator", collection: ["simulator", "emulator"] } %>
      <%= render partial: "shared/simulator_select", locals: { form: f, legend: "Simulator select" } %>
      <fieldset class="hide">
        <legend>Emulator select</legend>
        <%= f.input :emulator_project, include_blank: false, collection: current_user.emulator_projects.collect {|project| [project.name, project.id] } %>
      </fieldset>
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
</div>