<%= render partial: "shared/project_toolbar", locals: { project: @project, type: "sensitivity" } %>

<div class="row">
  <div class="span6">
    <div class="boxed clickable">
      <h3>
        <% if @project.emulator_project != nil %>
          <%= link_to "Emulator project", emulator_project_path(@project.emulator_project) %>
          <span class="pull-right">
            <% if @project.emulator_project.has_emulator? %>
              <i class="icon-ok-sign" class="icon-ok-sign" rel="tooltip" title="Complete"></i>
            <% end %>
          </span>
        <% else %>
          <%= link_to "Simulator specification", sensitivity_project_simulator_specifications_path(@project) %>
          <span class="pull-right">
            <% if @project.simulator_specification.complete? %>
              <i class="icon-ok-sign" class="icon-ok-sign" rel="tooltip" title="Complete"></i>
            <% end %>
          </span>
        <% end %>
      </h3>
      <p>
        <%= t("simulator_specifications.description") %>
      </p>
    </div>
  </div>
  <div class="span6">
    <div class="boxed clickable">
      <h3>
        <% if @project.allow_analysis? %>
          <%= link_to "Analysis", sensitivity_project_analyses_path(@project) %>
        <% else %>
          Analysis
        <% end %>
        <span class="pull-right">
          <%= remotable_status_icon(@project.analysis) %>
        </span>
      </h3>
      <p>
        <%= t("analyses.description") %>
      </p>
    </div>
  </div>
</div>