<div class="control-group string optional">
  <label class="string optional control-label"><%=t "simple_form.labels.#{parent}.#{field}" %></label>
  <div class="controls form-toggle">
    <input type="hidden" name="<%= "#{parent.to_s}[#{field.to_s}]" %>" value="<%= value %>" />
    <div class="btn-group" data-toggle="buttons-radio">
      <% collection.each do |option| %>
        <%
        if option.class == Array 
          option_label = option[0]
          option_value = option[1]
        else
          option_label = option.humanize
          option_value = option
        end
        %>
        <button type="button" class="btn<%= " active" if option_value == value.to_s %>" data-value="<%= option_value %>"><%= option_label %></button>
      <% end %>
    </div>
  </div>
</div>