<%= simple_form_for [@project, @input_screening], html: { class: 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  
  <%= f.input :num_trajectories %>
  <%= f.input :discretisation_level %>
  <%= f.input :delta_p %>
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>