<%= javascript_include_tag "export" %>
<%= javascript_include_tag "flot/jquery.flot" %>
<%= javascript_include_tag "flot/jquery.flot.errorbars" %>
<%= javascript_include_tag "flot/jquery.flot.axislabels" %>
<%= javascript_include_tag "flot/jquery.flot.navigate" %>
<%= javascript_include_tag "plots" %>

<script>
$(function() {
  // better way to do this?
  var url = '<%= escape_javascript(validation_path(@validation)) %>.json';

  // selector is for tab pane containing div with plot class
  function updatePlots(selector) {
    $(selector).find('.plot').each(function() {
      var $container = $(this);

      // check if there's already a plot there
      if ($container.children().length == 0) {
        var type = $container.data('type');
        $container.spin();
        $.get(url, { data: type }, function(data) {
          $e.plot($container, type, data);
        }, 'json');
      }
    });
  }

  // initial selection
  // need a better selector
  updatePlots($('li.active a').attr('href'));

  // flot has some plotting issues if not visible
  $('a[data-toggle="tab"]').on('shown', function(e) {
    updatePlots($(e.target).attr('href'));
  });
});
</script>


<%= render partial: "shared/toolbar", locals: { text: "Computed quality indicators for #{pluralize(@validation.validation_size, 'value')}.", parent: @project, object: @validation, export_options: ["json"] } %>

<div class="row">
  <div class="span12">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#quality-tab" data-toggle="tab">Quality indicators</a></li>
        <li><a href="#vs-tab" data-toggle="tab">Observed vs. predicted</a></li>
        <li><a href="#standard-score-tab" data-toggle="tab">Standard score</a></li>
        <li><a href="#mean-residual-tab" data-toggle="tab">Mean residual</a></li>
        <li><a href="#reliability-tab" data-toggle="tab">Reliability</a></li>
        <li><a href="#coverage-tab" data-toggle="tab">Coverage</a></li>
        <li><a href="#metrics-tab" data-toggle="tab">Additional metrics</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="tab-content">
  <div class="tab-pane active" id="quality-tab">
    <h3>Distribution</h3>
    <div class="row">
      <div class="span6">
        <%=
        render('metrics_table', {
          :group => 'Normal',
          :rows => [
            { :metric => 'Mean', :value => @validation.quality_indicators_result['struct']['distribution']['normal']['mean'] },
            { :metric => 'Variance', :value => @validation.quality_indicators_result['struct']['distribution']['normal']['variance'] },
          ]})
        %>
      </div>
    </div>
    <br />
    <h3>Statistics</h3>
    <div class="row">
      <div class="span4">
        <%=
        render('metrics_table', {
          :group => 'Standard Deviation',
          :rows => [
            { :metric => 'Value', :value => @validation.quality_indicators_result['struct']['statistics']['stdev']['value'] }
          ]})
        %>
      </div>
      <div class="span4">
        <%=
        render('metrics_table', {
          :group => 'Median',
          :rows => [
            { :metric => 'Value', :value => @validation.quality_indicators_result['struct']['statistics']['median']['value'] }
          ]})
        %>
      </div>
      <div class="span4">
        <%=
        render('metrics_table', {
          :group => 'Kurtosis',
          :rows => [
            { :metric => 'Value', :value => @validation.quality_indicators_result['struct']['statistics']['kurtosis']['value'] }
          ]})
        %>
      </div>
    </div>
    <div class="row space-top">
      <div class="span4">
        <%=
        render('metrics_table', {
          :group => 'Skewness',
          :rows => [
            { :metric => 'Value', :value => @validation.quality_indicators_result['struct']['statistics']['skewness']['value'] }
          ]})
        %>
      </div>
      <div class="span4">
        <%=
        render('metrics_table', {
          :group => 'Mean',
          :rows => [
            { :metric => 'Value', :value => @validation.quality_indicators_result['struct']['statistics']['mean']['value'] }
          ]})
        %>
      </div>
      <div class="span4">
        <%=
        render('metrics_table', {
          :group => 'Correlation',
          :rows => [
            { :metric => 'Value', :value => @validation.quality_indicators_result['struct']['statistics']['correlation']['value'] }
          ]})
        %>
      </div>
    </div>
    <div class="row space-top">
      <div class="span12">
        <%=
        render('metrics_table', {
          :group => 'Quantiles',
          :rows => [
            { :metric => 'Values', :value => @validation.quality_indicators_result['struct']['statistics']['quantiles']['values'] },
            { :metric => 'Levels', :value => @validation.quality_indicators_result['struct']['statistics']['quantiles']['levels'] }
          ]})
        %>
      </div>
    </div>
  </div>
  <div class="tab-pane row" id="vs-tab">
    <div class="span6">
      <div class="plot square" data-type="vs_predicted_mean_plot"></div>
    </div>
  </div>
  <div class="tab-pane row" id="standard-score-tab">
    <div class="plot" data-type="standard_score_plot"></div>
  </div>
  <div class="tab-pane row" id="mean-residual-tab">
    <div class="span6">
      <div class="plot square" data-type="mean_residual_histogram"></div>
    </div>
    <div class="span6">
      <div class="plot square" data-type="mean_residual_qq_plot"></div>
    </div>
  </div>
  <div class="tab-pane" id="reliability-tab">
    <div class="plot square" data-type="reliability_diagram"></div>
  </div>
  <div class="tab-pane" id="coverage-tab">
    <div class="plot square" data-type="coverage_plot"></div>
  </div>
  <div class="tab-pane" id="metrics-tab">
    <div class="row">
      <div class="span6">
        <%=
        render('metrics_table', {
          :group => 'Mean',
          :rows => [
            { :metric => 'Bias', :value => @validation.mean_bias },
            { :metric => 'Mean absolute error', :value => @validation.mean_mae },
            { :metric => 'Root-mean-square error', :value => @validation.mean_rmse },
            { :metric => 'Correlation', :value => @validation.mean_correlation }
          ]})
        %>
      </div>
    </div>
    <div class="row space-top">
      <div class="span4">
        <%=
        render('metrics_table', {
          :group => 'Brier Score',
          :rows => [
            { :metric => 'Score', :value => @validation.brier_score }
          ]})
        %>
      </div>
    </div>
  </div>
</div>