<%= javascript_include_tag "export" %>
<%= javascript_include_tag "flot/jquery.flot" %>
<%= javascript_include_tag "flot/jquery.flot.errorbars" %>
<%= javascript_include_tag "flot/jquery.flot.axislabels" %>
<%= javascript_include_tag "plots" %>

<script>

$(function() {
  // better way to do this?
  var url = '<%= escape_javascript(validation_project_validation_path(@project, @validation)) %>.json';

  // selector is for tab pane containing div with plot class
  function updatePlots(selector) {
    $(selector).find('.plot').each(function() {
      $container = $(this);
      var type = $container.data('type');
      $container.spin();
      $.get(url, { data: type }, function(data) {
        $e.plot($container, type, data);
      }, 'json');
    });
  }

  // initial selection
  // need a better selector
  updatePlots($('li.active a').attr('href'));

  // flot has some plotting issues if not visible
  $('a[data-toggle="tab"]').on('shown', function(e) {
    updatePlots($(e.target).attr('href'));
  });
});
</script>


<%= render partial: "shared/toolbar", locals: { text: "Performed validation on #{pluralize(@validation.predicted.size, 'prediction')}. RMSE is #{number_with_precision(@validation.rmse, precision: 3)}.", parent: @project, object: @validation, export_options: ["json"] } %>

<div class="row">
  <div class="span12">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#score-plot" data-toggle="tab">Standard score</a></li>
        <li><a href="#mean-residual-plot" data-toggle="tab">Mean residual</a></li>
        <li><a href="#median-residual-plot" data-toggle="tab">Median residual</a></li>
        <li><a href="#reliability-plot" data-toggle="tab">Reliability</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="score-plot">
          <div class="plot" data-type="standard_score"></div>
        </div>
        <div class="tab-pane" id="mean-residual-plot">
          <div class="plot" data-type="mean_residual"></div>
        </div>
        <div class="tab-pane" id="median-residual-plot">
          <div class="plot" data-type="median_residual"></div>
        </div>
        <div class="tab-pane" id="reliability-plot">
          <div class="plot square" data-type="reliability"></div>
        </div>
      </div>
    </div>
  </div>
</div>