<%= javascript_include_tag "export" %>
<%= javascript_include_tag "flot/jquery.flot" %>
<%= javascript_include_tag "flot/jquery.flot.errorbars" %>
<%= javascript_include_tag "flot/jquery.flot.axislabels" %>
<%= javascript_include_tag "plots" %>

<script>
$(function() {
  // better way to do this?
  var url = '<%= escape_javascript(validation_project_validation_path(@project, @validation)) %>.json';

  // selector is for tab pane containing div with plot class
  function updatePlots(selector) {
    $(selector).find('.plot').each(function() {
      var $container = $(this);

      // check if there's already a plot there
      if ($container.children().length == 0) {
        var type = $container.data('type');
        $container.spin();
        $.get(url, { data: type }, function(data) {
          $e.plot($container, type, data);
        }, 'json');
      }
    });
  }

  // initial selection
  // need a better selector
  updatePlots($('li.active a').attr('href'));

  // flot has some plotting issues if not visible
  $('a[data-toggle="tab"]').on('shown', function(e) {
    updatePlots($(e.target).attr('href'));
  });
});
</script>


<%= render partial: "shared/toolbar", locals: { text: "Performed validation on #{pluralize(@validation.predicted.size, 'prediction')}. RMSE is #{number_with_precision(@validation.rmse, precision: 3)}.", parent: @project, object: @validation, export_options: ["json"] } %>

<div class="row">
  <div class="span12">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li><a href="#vs-tab" data-toggle="tab">Observed vs. predicted</a></li>
        <li class="active"><a href="#standard-score-tab" data-toggle="tab">Standard score</a></li>
        <li><a href="#mean-residual-tab" data-toggle="tab">Mean residual</a></li>
        <li><a href="#median-residual-tab" data-toggle="tab">Median residual</a></li>
        <li><a href="#rank-tab" data-toggle="tab">Rank</a></li>
        <li><a href="#reliability-tab" data-toggle="tab">Reliability</a></li>
        <li><a href="#coverage-tab" data-toggle="tab">Coverage</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="tab-content">
  <div class="tab-pane row" id="vs-tab">
    <div class="span6">
      <div class="plot square" data-type="vs_predicted_mean_plot"></div>
    </div>
    <div class="span6">
      <div class="plot square" data-type="vs_predicted_median_plot"></div>
    </div>
  </div>
  <div class="tab-pane active" id="standard-score-tab">
    <div class="plot" data-type="standard_score_plot"></div>
  </div>
  <div class="tab-pane row" id="mean-residual-tab">
    <div class="span6">
      <div class="plot square" data-type="mean_residual_histogram"></div>
    </div>
    <div class="span6">
      <div class="plot square" data-type="mean_residual_qq_plot"></div>
    </div>
  </div>
  <div class="tab-pane row" id="median-residual-tab">
    <div class="span6">
      <div class="plot square" data-type="median_residual_histogram"></div>
    </div>
    <div class="span6">
      <div class="plot square" data-type="median_residual_qq_plot"></div>
    </div>
  </div>
  <div class="tab-pane" id="rank-tab">
    <div class="plot" data-type="rank_histogram"></div>
  </div>
  <div class="tab-pane" id="reliability-tab">
    <div class="plot square" data-type="reliability_diagram"></div>
  </div>
  <div class="tab-pane" id="coverage-tab">
    <div class="plot square" data-type="coverage_plot"></div>
  </div>
</div>