<script>
$(function() {
  $('.btn-group[data-toggle="buttons-radio"] .btn').click(function() {
    var btn = $(this);
    btn.button('toggle');
    var div = btn.parent().parent().parent();
    if (btn.text() == 'Fixed') {
      div.siblings(':nth-child(4), :nth-child(5)').slideUp('fast', function() {
        div.siblings(':nth-child(3)').slideDown('fast');
      });
    } else {
      div.siblings(':nth-child(3)').slideUp('fast', function() {
        div.siblings(':nth-child(4), :nth-child(5)').slideDown('fast');
      });
    }
    return false;
  });

  $('form').submit(function(e) {
    $('.control-group:hidden input').val('');
  });
});

</script>

<% @spec.errors.full_messages.each do |message| %>
  <%= message %>
<% end %>

<%= simple_form_for [@project, @spec], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :service_url, input_html: { class: "span5" } %>
  <%# f.input :process_name, hint: @spec.process_description %>

  <div class="row space-top">
    <% index = 0 %>
    <%= f.simple_fields_for :inputs do |b| %>
      <% if index % 2 == 0 %>
        </div>
        <div class="row" style="margin-top: 20px;">
      <% end %>
      <div class="span6">
        <fieldset>
          <legend><%= b.object.name %></legend>
          <% if b.object.description %>
            <p style="padding: 10px 0;"><%= b.object.description %></p>
          <% end %>
          <div class="control-group string optional">
            <label class="string optional control-label">Type</label>
            <div class="controls">
              <div class="btn-group" data-toggle="buttons-radio">
                <button class="btn<%= " active" if b.object.fixed? %>">Fixed</button>
                <button class="btn<%= " active" if b.object.variable? %>">Variable</button>
              </div>
            </div>
          </div>
          <div class="control-group string optional<%= " hide" if b.object.variable? %>">
            <label class="string optional control-label">Fixed value</label>
            <div class="controls">
              <input class="string optional input-min" name="simulator_specification[inputs_attributes][<%= index %>][fixed_value]" type="text" value="<%= b.object.fixed_value %>" />
            </div>
          </div>
          <div class="control-group string optional<%= " hide" if b.object.fixed? %>">
            <label class="string optional control-label">Minimum value</label>
            <div class="controls">
              <input class="string optional" name="simulator_specification[inputs_attributes][<%= index %>][minimum_value]" type="text" value="<%= b.object.minimum_value %>" />
            </div>
          </div>
          <div class="control-group string optional<%= " hide" if b.object.fixed? %>">
            <label class="string optional control-label">Maximum value</label>
            <div class="controls">
              <input class="string optional" name="simulator_specification[inputs_attributes][<%= index %>][maximum_value]" type="text" value="<%= b.object.maximum_value %>" />
            </div>
          </div>
        </fieldset>
      </div>
      <% index += 1 %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>