<% content_for :subnav do %>
  <li>
    <%= link_to @emulator_projects do %>
      <i class="icon-home"></i>
      <strong><%= @emulator_project.name %></strong>
    <% end %>
  </li>
  <% ["simulator_specification", "input_screening", "design", "run", "emulator", "validation"].each do |name| %>
  <li<%= controller.controller_name == "#{name.pluralize}" ? ' class="active"'.html_safe : '' %>>
    <%= link_to send("emulator_project_#{name.pluralize}_path", @emulator_project) do %>
      <%= name.humanize %> 
    <% end %>
  </li>
  <% end %>
<% end %>
<% content_for :content do %>
  <%= yield %>
<% end %>
<%= render template: "layouts/application" %>